* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #dcdcdc;

}

    /* Decstop */

    .navbar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top:0;
    z-index: 999;
}

.logo {
    width: 150px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 5px 0px rgb(190, 190, 190);
    


}

.logo>img {
    padding: 20px;
    width: 100%;
    height: 100%;

}

.bbtn {
    width: 250px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 0px rgb(132, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.bbtn>button {
    width: 100px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.searchbar {
    width: 250px;
    height: 37px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;

}


input {
    border: none;
    outline: none;

}

.singbtn>button {
    width: 100px;
    height: 25px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-right: 50px;

}

.wrapper{
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    


}
 .sp{
    height: 50px;
 } 

.cradblock{
 margin-bottom: 100px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    flex-wrap: wrap;

 }
 .card{
   
    width: 15%;
    height: 350px;
    border: 1px solid ;
    padding-top: 15px;
    padding-right: 10px;
    border-radius: 20px;
    
 }
 
 
 .card > img {

    margin-left: 5px;
    background-color: rgb(158, 101, 101);
    width: 100%;
    height: 60%;
    margin-right: 15px;
    border: 0px solid;
    border-radius: 10px;
    
 }
 .card > i {
    
   margin-left: 25px;
   transform: translateX(180px);
   margin-top: 0px;
   font-size: 1.5rem;
   display: block;
 }
 .dtl > button {
float: right;
border-radius: 10px;
padding: 3px 15px;
margin-bottom: 5px;
color: white;
background-color: rgb(4, 147, 204);
 }
 .dtl > h3{
 margin-left: 10px;
 }
 .dtl > h5{
margin-left: 10px;
 }
 .dtl > button:hover{
    background-color: white;
    color: black;
 }

 .navbarm{
    width: 100%;
    height: 50px;
    background-color: whitesmoke;
    border-bottom: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    
 }
 .block3{
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

 }


@media(width<=769px){
    #Decstop{
        display: none;

    }

}
@media(width>768px){
   #mobile{
    display: none;
   }
}